asgiref==3.8.1
crispy-bootstrap5==2025.4
Django==4.2.7 
django-crispy-forms==2.4
django-environ==0.12.0
django-guardian==3.0.0
django-sslserver==0.22
djangorestframework==3.16.0
pillow==11.2.1
psycopg2-binary==2.9.10
python-decouple==3.8
python-dotenv==1.1.1
qrcode==8.2
requests==2.32.3
sqlparse==0.5.3
validate-docbr==1.10.0
weasyprint==66.0
whitenoise==6.9.0
dj-database-url==2.0.0
